

<form action="">
    <img src="assets/images/user_icon.png" alt="">

    <input type="text" placeholder="Nome" class="form-control">
    <input type="number" placeholder="Idade" class="form-control" min="1" max="120">
    <input type="text" placeholder="Cidade" class="form-control">

    <input type="button" value="Cadastrar" class="btn btn-primary" *ngIf="!btnCadastrado">
    <input type="button" value="Alterar" class="btn btn-warning" *ngIf="btnCadastrado">
    <input type="button" value="Remover" class="btn btn-danger" *ngIf="btnCadastrado">
    <input type="button" value="Cancelar" class="btn btn-secondary" *ngIf="btnCadastrado">
</form>

<h1>{{cliente | json}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of clientes; index as i">
            <th>{{i}}</th>
            <th>{{c.nome}}</th>
            <th>{{c.idade}}</th>
            <th>{{c.cidade}}</th>
            <th><button class="btn btn-success" (click)="selecionarItem(i)">Selecionar</button></th>
        </tr>
    </tbody>
</table>


